* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}
window#waybar {
    background-color: rgba(22,22,23,1); /*dark*/
    font-family: inherit;
    color: #cdd6f4;
    transition: all 0.3s ease;
}

.modules-right, .modules-center, .modules-left{
    background-color: transparent; 
    border-radius: 15px;
    padding: 2px 10px;
    margin: 0 1px; /* Spacing between modules */
    transition: all 0.3s ease;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: rgba(22,22,23,1); /*dark*/
    transition: all 0.3s ease;
}


window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

/* you can set a style on hover for any module like this */
/*
#pulseaudio:hover,
#custom-clipboard:hover,
#clock:hover,
#tray:hover,
#power-profiles-daemon:hover
{
    background-color: #822b4e;  
    border-radius: 15px;
}
*/


#workspaces button {
    padding: 0 5px;
    border: 2px solid transparent;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background-color: #822b4e; /* dark pink */
    border-radius: 5px;
}

#workspaces button.focused, #workspaces button.active {
    border: 2px solid #822b4e;
    border-radius: 5px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}



#clock,
#cpu,
#memory,
#disk,
#temperature,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#scratchpad,
#custom-clipboard,
#power-profiles-daemon {
    padding: 0 6px;
    background: transparent;
    margin: 0;
}

#power-profiles-daemon {
    padding-bottom: 2px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}




#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

tooltip {
    background-color: rgba(22,22,23,1); /*dark*/
    border: 2px solid #822b4e;
    border-radius: 8px;
    font-family: "JetBrains Mono", "Fira Code"; 
}

tooltip label {
    font-size:14px;
    padding: 3px;
}

